.wrapper {
  position: relative;
  width: 100%;
  height: 100vh; /* Ensure enough scrollable height for long-duration animations */
  overflow: hidden;
  z-index: 1;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.content .section {
  width: 100%;
  height: 100vh; /* Full viewport height */
}

.section.hero {
  background-image: url("/image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section.gradientPurple {
  background: linear-gradient(180deg, #6a0dad, #000);
}

.imageContainer {
  width: 100%;
  height: 100vh;
  position: fixed; /* Fix the imageContainer to the viewport */
  top: 0;
  left: 0;
  z-index: 2; /* Ensure it overlays the sections */
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  transform-origin: 50% 50%; /* Center the zoom effect */
}

.threeSceneContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0; /* Initially hidden */
  z-index: 3; /* Ensures ThreeScene is above other content */
  pointer-events: none; /* Prevents interaction until it's visible */
}
